{% comment %}
<!--

-->
{% endcomment %}

<script>

$(document).ready(function() {
    
    $("#metadata_tab").engine_right_plugin({
        plugin_index:{{ forloop.counter }},
        load_plugin_content: function(selected, obj_dtype, obj_id) {    // Url based on selected object(s)
            var well_index = selected[0]["index"] || 0;
            var url;
            if (selected[0]["shareId"]) {
                url = '{% url 'webindex' %}metadata_acquisition/'+obj_dtype+'/'+obj_id+'/'+selected[0]["shareId"]+'/';
            } else {
                url = '{% url 'webindex' %}metadata_acquisition/'+obj_dtype+'/'+obj_id+'/';
            }
            if (well_index > 0) {
                url = url + '?index='+well_index;
            }
            $(this).html("<h1 style='padding: 20px 15px'><img src='{% static 'webgateway/img/spinner.gif' %}'/>Loading metadata...</h1>");
            $(this).load(url);
        },
        supported_obj_types: ['image']
    });

});

</script>