{% if doc %}
Cross Origin Resource Sharing allows web applications hosted at other origins to access resources from your Bhojpur ODE web installation. This can be achieved using the `django-cors-headers <https://github.com/adamchainz/django-cors-headers>`_ app with additional configuration of ODE.web. See the `django-cors-headers <https://github.com/adamchainz/django-cors-headers>`_ page for more details on the settings.
Since Bhojpur ODE web 1.0.0, the package `django-cors-headers` is installed by default.

{% endif %}