{% if doc %}
This is an example walkthrough for installing Bhojpur ODE web in a **virtual environment** using a dedicated system user. Installing ODE.web in a virtual environment is the preferred way. For convenience in this walkthrough, we will use the **{{ ode_user }} system user** and define the main ODE.web configuration options as environment variables. Since 5.6, a new :envvar:`ODEDIR` variable is used, you should first unset :envvar:`ODE_HOME` (if set) before beginning the installation process. By default, Python {{ python_version }} is installed.
{% endif %}