{% if doc %}
A number of apps are available to add functionality to ODE.web, such as `ODE.figure <https://www.bhojpur.net/ode/figure/>`_ and `ODE.iviewer <https://www.bhojpur.net/ode/iviewer/>`_. See the main website for a `list of released apps <https://www.bhojpur.net/ode/apps/>`_. These apps are optional and can be installed, as the **root user**, via :program:`pip` to your Bhojpur ODE web virtual environment and configured as the **{{ ode_user }} system user**, at any time.
{% endif %}