{% load i18n %}

{% comment %}
<!--

-->
{% endcomment %}

<div class="clear"> </div>

{% if controller.lastAcquiredImages %}
    <ul id="dataIcons">
        {% for c in controller.lastAcquiredImages %}
            <li>
                <a href="{% url 'load_template' "userdata" %}?path=project={{ c.getParent.getParent.id }}|dataset={{ c.getParent.id }}|image={{ c.id }}">
                    <img id="{{ c.id }}" class="imgzoom" src="{% url 'render_thumbnail' c.id %}" alt="image" title="{{ c.name }}"/>
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="error"><p>{% trans "No data imported. Please change your active group (on the 'Data' page) or import some images" %}</p></div>
{% endif %}