###
# Bhojpur ODE-Formats Plugins for ImageJ: a collection of ImageJ plugins including the
# ODE-Formats Importer, ODE-Formats Exporter, ODE-Formats Macro Extensions,
# Data Browser and Stack Slicer.
###

File>Import, "-"
File>Import, "ODE-Formats", loci.plugins.LociImporter("location=[Local machine] windowless=false ")
File>Import, "ODE-Formats (Remote)", loci.plugins.LociImporter("location=[Internet]")
File>Import, "ODE-Formats (Windowless)", loci.plugins.LociImporter("location=[Local machine] windowless=true ")

Plugins>LOCI, "Please use the 'ODE-Formats' menu item instead", loci.plugins.About("")

Plugins>ODE-Formats, "ODE-Formats Importer", loci.plugins.LociImporter("location=[Local machine] windowless=false ")
Plugins>ODE-Formats, "ODE-Formats Exporter", loci.plugins.LociExporter("")

Plugins>ODE-Formats, "-"
Plugins>ODE-Formats, "ODE-Formats Remote Importer", loci.plugins.LociImporter("location=[Internet]")
Plugins>ODE-Formats, "ODE-Formats Windowless Importer", loci.plugins.LociImporter("location=[Local machine] windowless=true ")
Plugins>ODE-Formats, "ODE-Formats Macro Extensions", loci.plugins.macro.LociFunctions("")

Plugins>ODE-Formats, "-"
Plugins>ODE-Formats, "Stack Slicer", loci.plugins.Slicer("")

Plugins>ODE-Formats, "-"
Plugins>ODE-Formats, "ODE-Formats Plugins Configuration", loci.plugins.config.LociConfig("")
Plugins>ODE-Formats, "ODE-Formats Plugins Shortcut Window", loci.plugins.shortcut.ShortcutPanel("")

Plugins>ODE-Formats, "-"
Plugins>ODE-Formats, "Update ODE-Formats Plugins", loci.plugins.Updater("")

Plugins>ODE-Formats, "-"
Plugins>ODE-Formats, "Help", ij.plugin.BrowserLauncher("https://docs.bhojpur.net/latest/ode-formats/users/index.html")
Help>About Plugins, "ODE-Formats Plugins...", loci.plugins.About("")

File>Save As, "ODE-TIFF...", loci.plugins.LociExporter("")
