# Copyright (c) 2018 Bhojpur Consulting Private Limited, India. All rights reserved.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
# THE SOFTWARE.
#
# Bhojpur ODE Backup Configuration

########################################################
# Node properties
########################################################
IceGrid.Node.Endpoints=tcp
IceGrid.Node.Name=backup
IceGrid.Node.Data=var/backup
#IceGrid.Node.Output=var/log
#IceGrid.Node.RedirectErrToOut=1

# Defines that the standard out from this node and all
# contained servers will be saved in the following files.
# If Output is set, then output from the servers will be
# redirected _after_ Ice.Communicator creation.
Ice.StdOut=var/log/backup.out
Ice.StdErr=var/log/backup.err

########################################################
# Trace properties
########################################################

# Only 0 and 1
IceGrid.Registry.Trace.Application=0
IceGrid.Registry.Trace.Adapter=0
IceGrid.Registry.Trace.Object=0
IceGrid.Registry.Trace.Patch=0
IceGrid.Registry.Trace.Replica=0
IceGrid.Registry.Trace.Server=0

# Between 0 and 2
IceGrid.Registry.Trace.Locator=0
IceGrid.Registry.Trace.Node=0
IceGrid.Registry.Trace.Session=0

# Between 0 and 3
IceGrid.Node.Trace.Activator=0
IceGrid.Node.Trace.Adapter=0
IceGrid.Node.Trace.Patch=0
IceGrid.Node.Trace.Replica=0
IceGrid.Node.Trace.Server=0