{% extends 'webgateway/base/base_header.html' %}

{% comment %}
<!--

-->
{% endcomment %}

{% block link %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "webgateway/css/ode.toolbar.css"|add:url_suffix %}" type="text/css" media="screen"/>
{% endblock %}

{% block script %}
    {{ block.super }}
    <!-- Include our current version of jQuery-UI and a Bhojpur ODE utility script used by many pages -->
    {% include "webgateway/base/includes/jquery-ui.html" %}
    {% include "webgateway/base/includes/script_src_popup.html" %}

    <!-- Turn touch events into drag events for jquery-ui -->
    <script type="text/javascript" src="{% static "3rdparty/jquery.ui.touch-punch-0.2.3.min.js" %}"></script>

    <!-- Make the width fit the mobile viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Allow webclient to be 'added to home-screen' as a full-screen app on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
{% endblock %}