{% comment %}
<!--

-->
{% endcomment %}

    <!-- COMMENTS -->
    <div id="commentsPane">
    <h1 class="can-collapse closed" data-name="comments">
        {{ label|default:"Comments" }}
        <span class="annotationCount">{{ annotationCounts.CommentAnnotation }}</span>
    </h1>
    <div class="annotations_section" style="display: none" data-name='comments'>

            <!-- if canAnnotate single object OR batch (obj_string) isn't blocked... -->
            {% if manager.canAnnotate or obj_string and not annotationBlocked %}
            <form id="add_comment_form" action="{% url 'annotate_comment' %}" method="post">{% csrf_token %}
            <table>
                <tr>
                    <td>
                        <div id="add_comment_wrapper" style="position: relative">
                            <label class="inline_label" for="id_comment">Add Comment:</label>
                            <textarea cols="39" id="id_comment" name="comment" rows="2"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Add Comment" style="display:none" /></td>
                </tr>
            </table>
            </form>
            {% endif %}

            <div id="comments_container" class="lncomments"></div>
    </div>
    </div>
    <div class="clear"></div>