{% load i18n %}

{% comment %}
<!--

-->
{% endcomment %}

<div class="clear"></div>

<hr/>

<h2>{% trans "Most recent share comments" %}:</h2>
{% if controller.mostRecentSharesComments %}
    <table>
        <tbody>
        {% for cm in controller.mostRecentSharesComments %}
            <tr><td>
                <img src="{% static "webgateway/img/knotes16.png" %}" title="comment" alt="comment"/> {{ cm.getComment.getOwner.getFullName }}</a> {% trans "commented the" %} <a href="{% url 'load_template' "public" %}">{% trans "share" %} {{ cm.link.id }}</a> on {{ cm.getComment.creationEventDate|date:"Y-m-d H:i:s" }}
            </td></tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div><p>{% trans "No data commented." %}</p></div>
{% endif %}

<hr/>

<div class="clear"></div>

<h2>{% trans "Most recent shares" %}:</h2>
{% if controller.mostRecentShares %}
    <table>
        <tbody>
        {% for sh in controller.mostRecentShares %}
            <tr><td>
                <a href="{% url 'load_template' "public" %}">{% trans "share" %} {{ sh.id }}</a> owned by {{ sh.getOwner.getFullName }}
            </td></tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div><p>{% trans "No data commented." %}</p></div>
{% endif %}